<main>
<section id="slide-1">
<div class="background" data-top="background-position: 50% 0px;"
  data-top-bottom="background-position: 50% -300px;"
  data-anchor-target="#slide-1">
  <div class="center-div"
    data-top-top="opacity: 0"
    data-50p-top-top="opacity: 1"
    data-anchor-target="#slide-1 h1">
    <h1>The Ultimate Toilet Experience</h1>
    <p>Find the Best Restrooms Nearby</p>
  </div>
</div>
</section>

<section id="slide-2">
  <div class="background">
    <div class="center-div"
      data-bottom-top="opacity: 0;"
      data-50p-top-top="opacity: 1;"
      data-top-top="opacity: 0;"
      data-anchor-target="#slide-2 h1">
      <h1>Find the best wherever you go</h1>
    </div>
  </div>
</section>

<section id="slide-3">
  <div class="background">
  <div id="pins" data--0p-bottom-top="opacity: 0;"
      data--40p-bottom-top="opacity: 1;"
      data--50p-top-bottom="opacity: 0;"
      data-anchor-target="#slide-3"></div>
  <!--
    <div id="pin1" 
      data--0p-bottom-top="opacity: 0;"
      data--40p-bottom-top="opacity: 1;"
      data--50p-top-bottom="opacity: 0;"
      data-anchor-target="#slide-3"></div>
    <div id="pin2" 
      data--30p-bottom-top="opacity: 0;"
      data--50p-bottom-top="opacity: 1;"
      data--50p-top-bottom="opacity: 0;"
      data-anchor-target="#slide-3"></div>
    <div id="pin3" 
      data--10p-bottom-top="opacity: 0;"
      data--50p-bottom-top="opacity: 1;"
      data--50p-top-bottom="opacity: 0;"
      data-anchor-target="#slide-3"></div>
    <div id="pin4" 
      data--20p-bottom-top="opacity: 0;"
      data--60p-bottom-top="opacity: 1;"
      data--50p-top-bottom="opacity: 0;"
      data-anchor-target="#slide-3"></div>-->
  </div>
</section>

<section id="slide-4">
<div class="background" 
  data-bottom-top="background-position: 50% 0px;"
  data-top="background-position: 50% -50px;"
  data-anchor-target="#slide-4">
  <div class="center-div"
    data-bottom="opacity: 0;"
    data-center-top="opacity: 1;"
    data-top="opacity: 0;"
    data-anchor-target="#slide-4 h1">
    <h1>Connect with your mobile device</h1>
  </div>
</div>
</section>

<section id="slide-5">
<div class="background" 
  data-bottom-top="background-color: rgba(50,50,50,1);"
  data-top="background-color: rgba(255,255,255,1);"
  data-anchor-target="#slide-5">
  <div class="center-div" style="opacity: 1">
    <h1>Get Your Invite: </h1>
     <div id="email-group" class="input-group">
      <input id="email" type="text" class="form-control" placeholder="Your E-mail">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true">
          </span>
        </button>
      </span>
    </div><!-- /input-group -->
  </div>
</div>
</section>

</main>